<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="P1XCS000051A.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <P1XCS000051A.Properties.Settings>
            <setting name="mySQLServerName" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="mySQLUserName" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="mySQLDatabaseName" serializeAs="String">
                <value>manager</value>
            </setting>
            <setting name="mySQLPassword" serializeAs="String">
                <value>9412cxBx25zNJ20z0</value>
            </setting>
            <setting name="MainFormState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="screenName" serializeAs="String">
                <value />
            </setting>
        </P1XCS000051A.Properties.Settings>
    </userSettings>
</configuration>